:root {
    --vermelho: #ff0000;
    --preto: rgb(0, 0, 0);
    --azul: rgb(161, 161, 199);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.botao {
    color: white;
    background-color: rgba(0, 0, 0, .60);
    border: none;
    padding: 15px 30px;
    margin: 5px;
    cursor: pointer;
    /* faz com que o mouse mude quando passar pelo botão */
    transition: .2s ease-in-out;
}

.botao i {
    margin-right: 1px;
}

.botao:hover {
    background-color: white;
    color: black
}

body {
    background-color: var(--preto);
    color: blanchedalmond;
}

header {
    background: linear-gradient(100deg, rgba(0, 0, 0) 0%, rgb(255, 0, 0, .6) 100%);
}

header nav a {
    margin-right: 30px;
    color: rgb(216, 205, 205);
    text-decoration: none;
}

header nav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: var(--azul);
    padding: 10px;
    font-weight: bold;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: "Arial Black";
    margin: 10px;
}


/*  INICIO CAIXA PRINCIPAL */

.filme_abertura1 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo1.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura2 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo2.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura3 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo3.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura4 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo4.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura5 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo5.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura6 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo6.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura7 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo7.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura8 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo8.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura9 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo9.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura10 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo10.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura11 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo11.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura12 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(37, 35, 35, 0.7)100%), url('../img/fundo12.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura13 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo13.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura14 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(37, 35, 35, 0.7)100%), url('../img/fundo14.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.filme_abertura15 {
    color: white;
    padding: 1%;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(37, 35, 35, 0.7)100%), url('../img/fundo15.jpg');
    /* linear-gradiente vc informa duas cores e vai criar a variação entre elas */
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify e align sempre acompanha a orientação do flex*/
    justify-content: flex-end;
    align-items: left;
}

.titulo {
    margin: 2%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descricao {
    flex: 1;
    align-self: flex-end;
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.containerAbertura {
    width: 50%;
}


/*  FIM CAIXA PRINCIPAL */

.box_filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 10px;
}